body {
    background: linear-gradient(to right bottom, #3b9292, #1d7b8a, #0b647e, #124d6e, #1c3659);
    /* background-size: cover; */
    min-height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
}